{% extends 'base.html.twig' %}

{% block body %}
    <h1>UserCat list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userCat in userCats %}
            <tr>
                <td><a href="{{ path('usercat_show', { 'id': userCat.id }) }}">{{ userCat.id }}</a></td>
                <td>{{ userCat.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usercat_show', { 'id': userCat.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
